.dashboard{
    padding:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    align-items:stretch;
}

@media(max-width:900px){

.dashboard-grid{
    grid-template-columns:1fr;
}

}