.appearance-card{
    background:#fff;
    border-radius:16px;
    padding:25px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.appearance-card h2{
    margin-bottom:25px;
    color:#0f172a;
}

.setting-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
    border-bottom:1px solid #e5e7eb;
}
.setting-row:last-child{
    border-bottom:none;
}

.setting-row h3{
    margin-bottom:5px;
    color:#0f172a;
    font-size:18px;
}

.setting-row p{
    color:#64748b;
    font-size:14px;
}

.setting-row select{
    width:290px;
    padding:10px 12px;
    border:1px solid #475569;
    border-radius:8px;
    background:#1e293b;
    color:white;
    font-size:15px;
    cursor:pointer;
    outline:none;
    transition:.3s;
}

.setting-row select:hover{
    background:#334155;
}

.setting-row select:focus{
    border-color:#22c55e;
}

.setting-row option{
    background:#334155;
    color:white;
}
/* Toggle Switch */

.switch{
    position:relative;
    display:inline-block;
    width:55px;
    height:28px;
}

.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position:absolute;
    cursor:pointer;
    inset:0;
    background:#cbd5e1;
    transition:.3s;
    border-radius:30px;
}

.slider:before{
    position:absolute;
    content:"";
    width:22px;
    height:22px;
    left:3px;
    bottom:3px;
    background:white;
    transition:.3s;
    border-radius:50%;
}

input:checked + .slider{
    background:#22c55e;
}

input:checked + .slider:before{
    transform:translateX(27px);
}

@media(max-width:768px){

.setting-row{
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
}

.setting-row select{
    width:100%;
}

}