.income-expense-chart{

    margin-top:30px;

    background:#fff;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 24px rgba(15,23,42,.08);

}

.chart-header{

    margin-bottom:20px;

}

.chart-header h2{

    color:#0f172a;
    margin-bottom:5px;

}

.chart-header p{

    color:#64748b;

}