.save-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.save-btn:hover{
    background:#dc2626;
}