.dashboard-summary{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
    margin:30px 0;
}

.dashboard-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 8px 24px rgba(15,23,42,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-6px);
    box-shadow:0 14px 30px rgba(15,23,42,.12);
}

.dashboard-icon{
    width:75px;
    height:75px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:30px;
    flex-shrink:0;
}

.green{
    background:#22c55e;
}

.red{
    background:#ef4444;
}

.blue{
    background:#3b82f6;
}

.orange{
    background:#f59e0b;
}

.dashboard-info{
    flex:1;
}

.dashboard-info h3{
    color:#64748b;
    font-size:18px;
    margin-bottom:10px;
}

.dashboard-info h2{
    color:#0f172a;
    font-size:38px;
    font-weight:700;
}

@media(max-width:768px){

.dashboard-summary{
    grid-template-columns:1fr;
}

.dashboard-card{
    padding:22px;
}

.dashboard-icon{
    width:65px;
    height:65px;
    font-size:26px;
}

.dashboard-info h2{
    font-size:30px;
}

}